/* Denna fil skall innehålla din CSS kod */

#layout {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "nav"
    "mai"
    "fot"

}

.popular_books {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "book1 book2 book3"
        "book4 book5 book6"
        "book7 book8 book9"
}

.popular_book {
    border: 1px red solid;
}

nav {
    grid-area: nav;
    background-color: green;
}

main {
    grid-area: mai;
    background-color: white;
}

footer {
    grid-area: fot;
    background-color: red;
}